.quotation {
    background-color: var(--main-bg-color);
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.quotation .quotation-form .quotation-title {
    margin-bottom: 7.5vh;
    margin-top: 10vh;
    font-weight: bold;
    text-align: center;
}

.quotation .quotation-form button {
    display: block;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 10vh;
}

@media (min-width: 600px) {}