section {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h2.subtitle {
    font-size: 1.5rem;
    text-shadow: 2px 2px black;
    text-align: center;
    color: white;
}

.intro-video {
    display: block;
    min-height: 0;
    background-color: black;
}

.intro-video .player-wrapper {
    position: relative;
    /* Player ratio: 100 / (1280 / 720) */
    padding-top: 56.25%;
}

.intro-video .react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.home .about {
    background-color: #4d4d71;
    background-image: url("../../assets/images/home/about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .about-info {
    color: white;
    text-align: center;
    width: 100%;
}

.home .about-info h2 {
    margin-bottom: 4vh;
}

.home .map {
    background-color: red;
    background-image: url("../../assets/images/home/mapa.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .map h2 {
    color: white;
}

.home .quotation {
    background-color: #4d4d71;
    background-image: url("../../assets/images/home/cotiza.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .quotation-info {
    color: white;
    text-align: center;
    width: 100%;
}

.home .quotation-info h2 {
    margin-bottom: 4vh;
}

.home .certification {
    padding: 3rem 0;
}

.home .certification h2 {
    text-shadow: unset;
    color: var(--secondary-bg-color);
    font-weight: bold;
    margin-bottom: 4vh;
}

.home .certification-info p {
    width: 80%;
    margin: auto;
    text-align: center;
}

.home .certification-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.home .customers {
    background-color: #4d4d71;
    padding: 2rem 0;
}

.home .customers h2 {
    margin-bottom: 0;
}

.home .customer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.home .customer-card {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 70vw;
    max-height: 30vh;
    width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .customer-card img {
    transition: transform 500ms;
    width: 72.5%;
}

.home .customer-card img:hover {
    transform: scale(1.2);
}

@media (min-width: 600px) {
    section {
        min-height: 100vh;
    }
    .home h2.subtitle {
        font-size: calc(2.2vh + 2.2vw);
    }
    .intro-video .player-wrapper {
        padding-top: 100vh;
    }
    .home .about {
        min-height: 100vh;
    }
    .home .about-info {
        width: 70%;
    }
    .home .about-info h2 {
        margin-bottom: 8vh;
    }
    .home .about-info p, .home .certification-info p {
        font-size: calc(1.3vh + 1.3vw);
    }
    .home .map h2 {
        width: 70%;
    }
    .home .quotation-info h2 {
        margin-bottom: 8vh;
    }
    .home .certification {
        padding: 0;
    }
    .home .certification h2 {
        margin-bottom: 6vh;
    }
    .home .certification-list {
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .home .customers {
        padding: 0;
    }
    .home .customers h2 {
        margin-bottom: 5vh;
    }
}